@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  /* Very focused, deep blue/black */
  --foreground: #f8fafc;
  --primary: #D4AF37;
  /* Metallic Gold */
  --secondary: #1e293b;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}