@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  /* Very focused, deep blue/black */
  --foreground: #f8fafc;
  --primary: #D4AF37;
  /* Metallic Gold */
  --secondary: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-gold-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-200 via-yellow-500 to-yellow-200;
  }
}